In [6]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

df = pd.read_csv('Allrounder.csv')

df.dropna(inplace=True)

In [7]:
df.head(5)

,Sr.No.,Name,Matches Played,Wickets,Runs Scored,Home Strike Rate,Away Strike Rate,Home Average,Away Average,Ground,Home Away,Opponent,Weather,Pitch,Result
0,1,RA Jadeja,165,187,0,84.20,86.89,27.79,34.50,Trinidad,Away,West Indies,Hot and humid,Slow,0
1,2,KM Jadhav,73,27,16,103.81,99.05,42.39,41.73,Trinidad,Away,West Indies,Hot and humid,Slow,0
2,3,RA Jadeja,165,187,16,84.20,86.89,27.79,34.50,Trinidad,Away,West Indies,Hot and humid,Slow,0
3,4,H Pandya,54,54,15,111.82,119.19,37.83,25.15,Trinidad,Away,West Indies,Hot and humid,Slow,0
4,5,V Shankar,12,4,15,112.15,74.10,30.00,34.33,Trinidad,Away,West Indies,Hot and humid,Slow,0

In [8]:

#Converting words to integer values
ground=pd.get_dummies(df['Ground'])
pitch=pd.get_dummies(df['Pitch'])
opponent=pd.get_dummies(df['Opponent'])
weather=pd.get_dummies(df['Weather'])
homeaway=pd.get_dummies(df['Home Away'])

In [9]:

df.drop([' Sr.No.','Home Away','Name','Ground','Pitch','Home Strike Rate','Away Strike Rate','Home Average','Away Average','Opponent','Weather'],axis=1,inplace=True)

In [10]:
df=pd.concat([df,ground,pitch,opponent,weather,homeaway],axis=1)

In [11]:
X=df.drop('Result',axis=1)

In [12]:
y=df['Result']

In [13]:
from sklearn.ensemble import RandomForestClassifier
rfmodel=RandomForestClassifier()

#Fitting model with trainig data
rfmodel.fit(X, y)

# Saving model to disk
pickle.dump(rfmodel, open('model3.pkl','wb'))

# Loading model to compare the results
model = pickle.load(open('model3.pkl','rb'))
#print(model.predict([[2, 9, 6]]))

C:\Users\sankalp\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [14]:
print(rfmodel.predict([[114,5,132,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,1]]))

[1]

In [15]:
X.columns

Index(['Matches Played', 'Wickets', 'Runs Scored', 'Bay Oval', 'Chandigarh',
       'Delhi', 'Edgbaston', 'Headingley', 'Hyderabad', 'McLean Park',
       'Old Trafford', 'Ranchi', 'Seddon Park', 'Southampton', 'The Oval',
       'Trinidad', 'Vidharbha', 'Wellington', 'Batting', 'Bounce and Pace',
       'Bowling', 'Pace and Bounce', 'Slow', 'Slow and low', 'Swinging',
       'Afghanistan', 'Australia', 'Bangladseh', 'England', 'New zealand',
       'South Africa', 'Sri Lanka', 'West Indies', 'Cold', 'Hot and humid',
       'Away', 'Home'],
      dtype='object')